@model Fitnetium.Models.WorkoutPerDay
@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    $('.accordian-body').on('show.bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })

</script>
<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>

<h2>Details</h2>
<div>
    <h4>WorkoutPerDay</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Workout.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workout.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workout.EndDate)
        </dd>
    </dl>
</div>

<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>Workout Days</th>
        </tr>
    </thead>
    <tbody>
        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
            <td>Monday</td>
        </tr>
    <td colspan="5" class="hiddenRow">
        <div class="accordian-body collapse" id="demo1">
            <table class="table">
                <tr>

                    <th>Name of workout</th>
                    <th>Reps to do</th>
                    <th>Sets to do</th>
                    <th>Weight set to</th>
                </tr>
                @foreach (var item in Model.Monday)
                {
                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                        <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                    </tr>
                }
            </table>
        </div>
    </td>

    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
        <td>Tuesday</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="demo2" class="accordian-body collapse">
                <table class="table">
                    <tr>
                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Tuesday)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
        <td>Wednesday</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="demo3" class="accordian-body collapse">
                <table class="table">
                    <tr>

                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Wednesday)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr data-toggle="collapse" data-target="#Thursday" class="accordion-toggle">
        <td>Thursday</td>
    </tr>
    <tr>
        <td colspan="5" class="hiddenRow">
            <div class="accordian-body collapse" id="Thursday">
                <table class="table">
                    <tr>
                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Thursday)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr data-toggle="collapse" data-target="#Friday" class="accordion-toggle">
        <td>Friday</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="Friday" class="accordian-body collapse">
                <table class="table">
                    <tr>
                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Friday)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr data-toggle="collapse" data-target="#Saturday" class="accordion-toggle">
        <td>Saturday</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="Saturday" class="accordian-body collapse">
                <table class="table">
                    <tr>

                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Saturday)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr data-toggle="collapse" data-target="#sunday" class="accordion-toggle">
        <td>Sunday</td>
    </tr>
    <tr>
        <td colspan="6" class="hiddenRow">
            <div id="sunday" class="accordian-body collapse">
                <table class="table">
                    <tr>

                        <th>Name of workout</th>
                        <th>Reps to do</th>
                        <th>Sets to do</th>
                        <th>Weight set to</th>
                    </tr>
                    @foreach (var item in Model.Sunday)
                    {
                        <tr>

                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Reps)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
            <p>

                @Html.ActionLink("Back to List", "Index")
            </p>
