@model Fitnetium.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
            
            @if (Model.CaloriesBurned >= 500)
            {
                <span class="badge" style="background-color:saddlebrown">500 Calories Burned</span>
            }
            @if (Model.CaloriesBurned >= 1000)
            {
                <span class="badge" style="background-color:silver">1000 Calories Burned</span>
            }
            @if (Model.CaloriesBurned >= 2000)
            {
                <span class="badge" style="background-color:gold">2000 Calories Burned</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LowHHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowHHR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighHHR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighHHR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BMIPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMIPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BMIType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BMIType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hieght)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hieght)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Workout List", "Index",new { id = Model.ID })
</p>
