@model List<Fitnetium.Models.Recipe>

@{
    ViewBag.Title = "MealsToEat";
}

<h2>Meals To Eat</h2>
<style>

   .mb-3 {
        width: 30%;
        display: inline-block;
       vertical-align: top;
       margin: 1%;
    }
</style>
<div>
    <h4>Recipe</h4>
    <hr />
    @{ int ids = 0;}
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <h3 class="card-header">@Html.DisplayFor(model => item.RecipeName)</h3>
                <img src="@Url.Content(item.Image)"  alt="Card image">
                <ul class="list-group list-group-flush">
                    @for (int i = 0; i < item.Ingredients.Length; i++)
                    {
                        <li class="list-group-item">@Html.DisplayFor(model => item.Ingredients[i])</li>
                    }

                </ul>
                <div class="card-body">
                    <dt>
                        @Html.DisplayNameFor(model => item.CookTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.CookTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => item.Calories)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Calories)
                    </dd>
                </div>
            </div>

            @*<dd>
                <img src="@Url.Content(item.Image)" alt="IMAGES" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => item.RecipeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.RecipeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.CookTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.CookTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => item.Calories)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Calories)
            </dd>*@
            ids = (int)item.WorkoutID;
        }
    </dl>
</div>

<p>

    @Html.ActionLink("Back to Workout List", "DetailsToWorkout", new { id = ids }, new { @class = "btn btn-primary" })
</p>
